/*GENERAL STYLES*/
* {
  background-color: transparent;
}

/*Using Google fonts Indie Flower*/
* {
  font-family: 'Indie Flower', cursive;
  /*font-family: 'Lato', sans-serif;*/
  color: #747704;
  font-weight: 300;
}

.filldiv {
  width: 100%;
  height: 100%;
}

/*NAVBAR STYLES*/
.fa-twitter-square {
  color: #0084b4;
}

/* CAROUSEL STYLES
Custom carousel styles below ... Overriding bootstrap.css
SO MAY NOT CONFORM TO CSS STYLE GUIDE*/

.carousel-indicators li {
  background-color: white;
}

.carousel-indicators,
.active {
  background-color: #444;
}

.first_caption {
  top: 4%;
}

.other_captions {
  top: 7%;
}

.carousel-caption-headers,
.larger_caption {
  color: black;
  font-weight: bold;
  font-size: 150%;
}

.smaller_caption {
  font-size: 100%;
  color: black;
}

/*END OF CAROUSEL STYLES*/

/* MAIN ARTICLE STYLES - sections below carousel*/

/* Ensures images fill div space*/

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

.title-profile {
  margin-top: 20px;
}

.thicken {
  border-bottom: 2px solid #747704;
}

.bolder {
  font-weight: 900;
}

/* END OF MAIN ARTICLE STYLES*/

/* MEDIA QUERIES FOR MOBILE AND TABLET SCREENS*/

/*Media query for mobile phones using Bootstrap cut-offs*/
@media (max-width: 375px) {
  .carousel-h4 {
    font-size: 10px;
  }
  .other_captions {
    top: -5%;
  }
  .smaller_caption {
    font-size: 7px;
  }
  .first_caption h2 {
    font-size: 14px;
  }
  .first_caption p {
    font-size: 7px;
  }
  .first_caption {
    top: -18%;
  }
  .divider {
    height: 2px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}

/*Media query for Tablets using Bootstrap cut-offs*/
@media (min-width: 376px) and (max-width: 767px){
  .carousel-h4 {
    font-size: 12px;
  }
  .other_captions {
    top: 0;
  }
  .smaller_caption {
    font-size: 9px;
  }
  .carousel-h2 {
    font-size: 18px;
  }
  .larger_caption {
    font-size: 14px;
  }
  .first_caption {
    top: -10%;
  }
  .divider {
    height: 2px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}